.topnav {
    height: $topnav-base-height;
    padding-left: 0;
    z-index: $zindex-topnav;

    .navbar-brand {
        margin: 0;
        padding-left: $navbar-padding-x;
        padding-right: $navbar-padding-x;
        width: $sidenav-base-width;
    }

    &.navbar-dark {
        #sidenav-toggle {
            color: $topnav-dark-toggler-color;
        }
    }

    &.navbar-light {
        #sidenav-toggle {
            color: $topnav-light-toggler-color;
        }
    }
}
