#layout-authentication {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    #layout-authentication-content {
        flex-grow: 1;
        min-width: 0;
    }

    #layout-authentication-footer {
        min-width: 0;
    }
}
