#layout-sidenav {
    display: flex;

    #layout-sidenav-nav {
        flex-basis: $sidenav-base-width;
        flex-shrink: 0;
        transform: translateX(-$sidenav-base-width);
        transition: transform .15s ease-in-out;
        z-index: $zindex-sidenav;
    }

    #layout-sidenav-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
        margin-left: -$sidenav-base-width;
        min-height: calc(100vh - #{$topnav-base-height});
        min-width: 0;
        position: relative;
    }
}

.sb-sidenav-toggled {
    #layout-sidenav {
        #layout-sidenav-nav {
            transform: translateX(0);
        }

        #layout-sidenav-content {
            &:before {
                background: $black;
                content: '';
                display: block;
                height: 100%;
                left: 0;
                opacity: .5;
                position: absolute;
                top: 0;
                transition: opacity .3s ease-in-out;
                width: 100%;
                z-index: $zindex-content;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    #layout-sidenav {
        #layout-sidenav-nav {
            transform: translateX(0);
        }

        #layout-sidenav-content {
            margin-left: 0;
            transition: margin .15s ease-in-out;
        }
    }

    .sb-sidenav-toggled {
        #layout-sidenav {
            #layout-sidenav-nav {
                transform: translateX(-$sidenav-base-width);
            }

            #layout-sidenav-content {
                margin-left: -$sidenav-base-width;

                &:before {
                    display: none;
                }
            }
        }
    }
}
