.nav-fixed {
    .sb-topnav {
        @extend .fixed-top;
        z-index: $zindex-topnav;
    }

    #layout-sidenav {
        #layout-sidenav-nav {
            @extend .fixed-top;
            height: 100vh;
            width: $sidenav-base-width;
            z-index: $zindex-sidenav;

            .sidenav {
                padding-top: $topnav-base-height;

                .sidenav-menu {
                    overflow-y: auto;
                }
            }
        }

        #layout-sidenav-content {
            padding-left: $sidenav-base-width;
            top: $topnav-base-height;
        }
    }
}
