// Import Bootstrap functions
@import '../../node_modules/bootstrap/scss/functions';

// Import Bootstrap variables
@import '../../node_modules/bootstrap/scss/variables';

// Content
$content-zindex: 1037   !default;

// Sidenav
$sidenav-base-width: 225px  !default;
$sidenav-zindex: 1038       !default;

$sidenav-dark-bg: $gray-900                         !default;
$sidenav-dark-color: fade-out($white, .5)           !default;
$sidenav-dark-heading-color: fade-out($white, .75)  !default;
$sidenav-dark-link-color: fade-out($white, .5)      !default;
$sidenav-dark-link-active-color: $white             !default;
$sidenav-dark-icon-color: fade-out($white, .75)     !default;
$sidenav-dark-footer-bg: $gray-800                  !default;

$sidenav-light-bg: $gray-100                    !default;
$sidenav-light-color: $gray-900                 !default;
$sidenav-light-heading-color: $gray-500         !default;
$sidenav-light-link-color: $sidenav-light-color !default;
$sidenav-light-link-active-color: $primary      !default;
$sidenav-light-icon-color: $gray-500            !default;
$sidenav-light-footer-bg: $gray-200             !default;

// Topnav
$topnav-base-height: 56px   !default;
$topnav-zindex: 1039        !default;

$topnav-dark-toggler-color: fade-out($white, .5)    !default;
$topnav-light-toggler-color: $gray-900              !default;
